<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Speech to Text</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <div class="homepage">
    <div class="container">
      <h1>Welcome to Speech to Text</h1><br>
      <p>Convert your speech to text seamlessly and efficiently!</p>
      <button onclick="navigateToSpeechToText()">Go to Speech to Text</button>
    </div>
  </div>
  <script>
    function navigateToSpeechToText() {
      window.location.href = '/speech';
    }
  </script>
</body>
</html>
